item-hiro-texts
  div.wrap-item
    p.tagline AIがあなたの会話をアシストします。
    div.wrap-subintro
      p AIがあなたへの問い合わせのアシスタントになり、
      p よりあなたらしいコミュニケーションを抽出します。
    p.data 2018年5月18日 事前登録開始

  style(scoped, type='less').
    :scope {
       .wrap-item {
        height: 100%;
        p {
          color: #FFF;
        }
       }
    }

  script.

    