page-top
  div.wrap-page
    module-hiro

  style(scoped, type='less').
    :scope {
      .wrap-page {
        display: block;
        width: 100%;
        height: 100%;
        background: #64C5D3;
      }
    }

  script.

    var self = this;


    this.on('mount', function(){

      
    });
    